.header-video
    position: absolute

.fade-in-anim
    z-index: 998

// .fade-in-up
//     transform: translateY(25px)
    
// .fade-in-down
//     animation: fade-in-down 2s linear

// .story h2::after
//     position: absolute
//     left: 0.7em

// .fade-in
//     transform: translateY(0)
//     transition-duration: 2s

#oscars
    div
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 75%
        margin: auto

    span
        padding: 50px
        background-image: url(./assets/image/Rectangle\ 23.png)
        background-repeat: no-repeat

    p
        margin: 0
        width: 643px
        height: 187px
        color: #FFF5E9
        font-family: "Quicksand", sans-serif
        font-size: 42px
        font-weight: 700
        line-height: 52.5px
        /* background-color: red; */

    img
        width: 278px
        height: 129px


.spin, .site-footer ul::after, .story h2::after, article.story__article::after
    animation: spin 20s linear infinite



@keyframes spin
    100% 
        transform: rotate(360deg)


@keyframes fade-in-down
    0%
        background-position: -20 0
    
    100%
        background-position: 0 0

@keyframes fade-in
    0%
        opacity: 0
        transform: translateY(50px)

    100%
        opacity: 1
        transform: translateY(0)
        